/*全ページ共通*/
div.sitebox{
  width: 1000px;
  margin: 0 auto;
}
div.bigbox{
  width: 1000px;
  margin : 0 auto;
  overflow: hidden;
}
div.leftbar{
  float: left;
  width: 25%;
}
div.sort{
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
div.sort ul{
  margin: 0;
  padding-top: 10px;
  border-bottom-width: 10px;
  padding-bottom: 10px;

}
div.sort h3,div.category h3{
  background: #bdbfc2;
  margin: 0;
}

div.category{
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
div.category ul{
  border-bottom-width: 10px;
  padding-bottom: 10px;
}

div.list{
  float: left;
}

body{
  background: #ececec;
  margin: 0;
}

div.header{
  text-align: left;
  border-bottom-style: solid;
  min-width: 300px;
  margin-top: 55px;
}

h1 {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.siteheader{
  background: #272727;
  height: 36px;
  color: #ffffff;
  z-index: 999;
  min-width: 1127px;
  width: 100%;
  position: fixed;
  font-size: 13px;
  top:0px;
}
div.headerbox{
  overflow: hidden;
  width: 1000px;
  margin:auto;
}

div.menu{
  float: left;
}
div.account{
  float: right;
}
ul.menu{
  margin-top: 3px;
  padding-left: 0px;
  overflow: hidden;
  margin-top: 8px;
}

ul.account{
  margin-top: 3px;
  margin-top: 8px;
  overflow : hidden;
}

li.menu{
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px dotted #0000FF;;
  float: left;
  list-style-type: none;
}
li.acc{
 list-style-type: none;
 padding-left: 10px;
 padding-right: 10px;
 border-left: 1px dotted #0000FF;;
 float: left;
 list-style-type: none;
}
li.menu:hover{
  background-color:#ddd;
}
a:hover{
  background-color:#ddd;
}

div.siteheader a:link{
  color: #ffffff;
}

div.siteheader a:visited { color: #ffffff;}

a{
  text-decoration: none;
}

div.footer{
  text-align: center;
  border-top-style: solid;
  padding-top: 20px;
}

div.page{
  text-align: center;
  font-size: 15px;
}

/*全ページ共通*/
