

div.main{
  font-size: 12px;
}

/*アイテムコンテンツ*/

div.item_img {
  float: left;
  height: 150px;
  width: 130px;
}

div.item_cont{
  width: 75%;
  float: right;
}

div.item_check{
  float: left;
  margin-top: 65px;
}

div.non_check{
  overflow: hidden;
  margin-left: 18px;
}

div.item_data,div.item_info,div.item_news{
  margin:10px 0px 0px 100px; 
}

div.item_title{
  text-align: center;
  font-size: 130%;
  width: 100%;
}

ul.item_list{
  overflow: hidden;
  list-style-type: none;
}


li.item{
  border-top: 1px dotted #0000FF;;
  margin-top: -1px;
  overflow: hidden;
  padding: 20 20 20 2px;
}

ul.info_list,ul.data_list,ul.news_list{
  height: 20px;
  padding-left: 0;
}
li.author,li.book_num,li.user_name{
  float: left;
}
li.publisher,li.book_count,li.borrow_time{
  float: right;
}

/*アイテムコンテンツ*/

/*検索*/

div.searchForm{
  /*background: white;
  border: solid;
  text-align: center;
  margin:0 auto;*/
  height: 60px;
  margin-bottom: 30px;
  margin-top: 40px;
  width: 1000;
  text-align: center;
  min-height: 67px;
  border: 2px solid #999f9f;
  border-radius: 8px;
  background: #f8f9f9;
  background: -webkit-linear-gradient( white, #d9dfdf) left repeat;
  background: linear-gradient( white, #d9dfdf) left repeat;
  box-shadow: 0 0 0 1px #e4e7e7;
  margin: 12px auto;
}

.s{
  margin-top: 7px;
}



#searchbutton {
  left: -5px;
  position: relative;
  height: 35px;
  top: 8px;
  width: 50px;
}

/*検索*/

/*借りる*/
div.borrow{
  text-align: center;
}

.borrowbutton{
 height: 30px;
 width: 50px;
}
div.complete{
  text-align: center;
}

.completebutton{
 height: 30px;
 width: 50px;
}
/*メイン*/
div.left{
  float: left;
  width: 25%;
}

div.list{
  width: 75%;
  float: left;
}

div.bigbox{
  width: 1000px;
  margin : 0 auto;
  overflow: hidden;
}