
div.main{
 margin :0 auto;
 overflow: hidden;
}

/*レフト*/
div.left{
  float: left;
  width: 30%;
}

div.search{
  height: 100px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
div.search form{
  text-align: center;
}
button{
  position: relative;
  top: 8px;
right: 7px;
}
.s{
  margin-top: 7px;
}
div.rank,div.category{
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

div.category ul{
  padding-top: 10px;
  border-bottom-width: 10px;
  padding-bottom: 10px;
}
form{
  margin: 0;
}

ul.category,ul.rank{
  list-style-type: none;
  margin: 0;
}

h5{
  margin: 0;
}
h5.search{
  width: 100%;
  background: #b94f64;
  color:#ffffff; 
}
h5.category{
width: 100%;
  background: #4280b4;
  color:#ffffff;
}
h5.rank{
width: 100%;
  background: #d48850;
  color:#ffffff;
}

div.rank_img{
  text-align: center;
 margin-bottom: 20px;
}
div.rank_cont{
}
li.rank_item{
  overflow: hidden;
  background: #f4f4f4;
  margin-right: 40px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}
ul.rank_list{
  list-style-type: none;
}
/*レフト終わり*/

div.information {
  background: #ffffff;
  width:70%;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
ul.info{
  padding-left: 0;
  margin: 0;
}
li.info_item{
  overflow: hidden;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  padding: 10px;
}
div.info_img{
  float: left;
  margin-left: 25px;
margin-top: 10px;
}
div.info_cont{
  float: right;
  width: 60%;
  overflow: hidden;
}
div.info_time{
    overflow: hidden;

}
div.time{
  float: left;
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
  margin: 5px 15px 0 0;
}
div.user{
  float: right;
  font-size: 120%;
  font-family: 'Montserrat', sans-serif;
  margin: 7px 15px 0 0;
}
div.info_comment{
  clear: both;
  text-align: left;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 129%;
line-height: 150%;
min-height: 54px;

}
span{
  margin-left: 15px;
}
h3{
  text-align: center;
  background: #a45997;
  color: #ffffff;
  margin:  0 ;
}

div.type{
  text-align: right;
}